
body{
  background-color: #ffffff;
}
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
    background-color: #dfDed4;
  padding: 75px 0;
}

hr{
  color:#ca171b;
}

#top{
  text-align: center;
  background-color: #d6d3c4 !important;
}

#mainNav, footer{
  background-color: #432f21;
}

#contact{
  text-align: center;
}

.btn{
  background-color:#432f21;
}

i{
  color:#ca171b;
}

#aboutImg{
  text-align: center;
}

.img-about {
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}

#aboutCon{
  background-color: #dfDed4;
}

.img-portfolio {
    width: 400px;
    border: 0 none;
    overflow: hidden;
}

.overlay {
  position: absolute;
  visibility: hidden;
  text-align: center;
  margin-top: 130px;
  margin-left: 70px;
  background: rgba(0, 0, 0, .85);
  width: 400px;
}

.portfolio-entry:hover .overlay {
  visibility: visible;
  color: white;
  background-color:  #432f21;
  text-align: center;
}

.portfolio-entry{
  text-align: center;
}

.port-row {
  margin-bottom: 60px;
}

#portfolio{
  background-color: #d6d3c4 !important;
}
