body {
  background-color: #ffffff;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  background-color: #dfDed4;
  padding: 75px 0;
}

hr {
  color: #ca171b;
}

#nameHold {
  background-color: rgba(214, 211, 196, 0.5);
  color: #432f21;
}

#top {
  text-align: center;
  background-color: #d6d3c4 !important;
  background-image: url("../img/bgtop.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainNav, footer {
  background-color: #432f21;
}

#contact {
  text-align: center;
}

.btn {
  background-color: #432f21;
  color: #d6d3c4
}

i {
  color: rgba(202, 23, 27, 0.75);
}

#aboutImg {
  text-align: center;
}

.img-about {
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.img-hover img {
  -webkit-transition: all .3s ease;
  /* Safari and Chrome */
  -moz-transition: all .3s ease;
  /* Firefox */
  -o-transition: all .3s ease;
  /* IE 9 */
  -ms-transition: all .3s ease;
  /* Opera */
  transition: all .3s ease;
}

.img-hover img:hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.5);
  /* Safari and Chrome */
  -moz-transform: scale(1.5);
  /* Firefox */
  -ms-transform: scale(1.5);
  /* IE 9 */
  -o-transform: translatZ(0) scale(1.20);
  /* Opera */
  transform: translatZ(0) scale(1.20);
}


/*#about{
  background-image: url("../img/bgAbout.png");
  height:100%;
   background-repeat: no-repeat;
   background-size: cover;
}*/

.img-portfolio {
  width: 400px;
  height: 210px;
  border: 0 none;
  overflow: hidden;
}

img-fluid {
  width: 400px;
  border: 0 none;
  overflow: hidden;
}

.lead2 {
  font-size: 1em;
}

.overlay {
  position: absolute;
  visibility: hidden;
  text-align: center;
  margin-top: 90px;
  margin-left: 70px;
  background: rgba(0, 0, 0, .85);
  width: 400px;
}

.overlay2 {
  position: absolute;
  visibility: hidden;
  text-align: center;
  margin-top: 178px;
  margin-left: 285px;
  background: rgba(0, 0, 0, .85);
  width: 570px;
}

.portfolio-entry:hover .overlay2 {
  visibility: visible;
  color: white;
  background-color: rgba(202, 23, 27, 0.75);
  text-align: center;
}

.portfolio-entry:hover .overlay {
  visibility: visible;
  color: white;
  background-color: rgba(202, 23, 27, 0.75);
  text-align: center;
}

.portfolio-entry {
  text-align: center;
}

.port-row {
  margin-bottom: 60px;
}

#portTag {
  color: #432f21;
}

#portTag2{
  text-align: center;
    color: #432f21;
}

#portfolio {
  background-color: #d6d3c4 !important;
}

#carouselContainer {
  text-align: center;
  margin: 0 auto;
}

.img-car {
  width: 50%;
  height: 50%;
  border: 0 none;
  overflow: hidden;
}

.carousel-inner>.item>img {
  margin: 0 auto;
}
